<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oxygen&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <div class="top_div">
        <div class="top_left">SAC NIT PATNA</div>
        <div class="write_blogs" onclick="document.getElementById('id03').style.display='block'">Write Blogs</div>
    </div>
    <div class="main_div1">
        <div class="div_dis">HOME</div>
        <div class="div_dis">SAS COUNCIL 2019</div>
        <div class="div_dis">NITP CLUBS</div>
        <div class="div_dis">ABOUT SAC</div>
        <div class="div_dis">NITP MAP</div>
        <div class="div_dis">ABOUT SAC</div>
        <div class="div_dis">ABOUT SAC</div>
    </div>
    <div class="main_div2">
        <div class="signindiv card-1" id="text1" onclick="signinclicked()" style="cursor: pointer;">
            <%= buttontext %></div>

        <script>
            function signinclicked() {
                var text = document.getElementById("text1").textContent;
                var text1="SIGNIN";
               if (text.trim() === text1.trim()) {
                    document.getElementById('id01').style.display = 'block';
                } else {
                    window.location.href = '/logout';
                }
            }
        </script>

        <div class="blogs">
            <% for(var i=0;i<bloghead.length;i++){ %>
            <div class="blog_div">
                <img src="<%= blogimg[i] %>" alt="Logo" class="imgclass1">
                <div class="bloghead"><%= bloghead[i] %></div>
                <div class="personname"><%= personname1[i] %></div>
                <hr class="line">
                <div class="blogcontent"><%= blogs[i] %>
                </div>
            </div>
            <% } %>
        </div>
        <div class="events_div">
            <div style="background-color: black; font-size: 25px; color: beige; text-align: center;">SAC NOTICE BOARD
            </div>
            <div class="eventcont">
                <% for(var i=0;i<Pname.length;i++){ %>
                <a href="<%= noticelink[i] %>" target="blank">
                <div class="eventsdiv">
                    <div class="eventname"><%= Pname[i] %></div>
                    <hr class="line1">
                    <div class="eventsdis">
                        <%= eventdis[i] %>
                    </div>
                </div>
                </a>
                <% } %>
            </div>
        </div>
        <div class="footer"></div>
    </div>

    <!-- loginform -->
    <%- include('login'); -%>
    <!-- loginEnds -->
    
    <!-- SignUpStarts -->
    <%- include('signup'); -%>
    <!-- sign up ends -->

    <!-- Blogs write -->
    <%- include('blogswrite'); -%>
    <!-- Blogs ends -->
    <script>
        // Get the modal
        var modal2 = document.getElementById('id02');
        var modal3 = document.getElementById('id01');
        var modal4 = document.getElementById('id03');
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal2) {
                modal2.style.display = "none";
            }
            if (event.target == modal3) {
                modal3.style.display = "none";
            }
            if (event.target == modal4) {
                modal4.style.display = "none";
            }
        }
    </script>
</body>

</html>